# GRIT: SQL Basics - Day 1

**Learning Objectives**
- Understand what databases and SQL are
- Learn basic SELECT statements
- Use WHERE clauses for filtering data
- Sort results with ORDER BY
- Limit results with LIMIT

**Why this matters**  
SQL is the universal language for working with data. Whether you're analyzing sales, building dashboards, or managing customer data, SQL gives you the power to ask questions of your data and get answers.

Today we start with the fundamentals - reading data from databases. By the end of this notebook, you'll be able to query any table to find exactly the information you need!

## Setup: Connect to Our Database

First, let's load the SQL extension and connect to our sample e-commerce database:

In [1]:
# Load the SQL extension
%load_ext sql

# Connect to our sample database
%sql sqlite:///ecommerce.db

print("✅ Connected to database!")

The sql module is not an IPython extension.

UsageError: Line magic function `%sql` not found.

## Theory: Understanding Databases & SQL

### What is a Database?
A database is like a digital filing cabinet that stores organized data. Our e-commerce database contains:
- **customers**: People who buy from our store
- **products**: Items we sell
- **orders**: Purchase transactions
- **order_items**: Individual items in each order

### What is SQL?
**SQL** = Structured Query Language  
It's the language we use to "talk" to databases and ask questions like:
- "Show me all customers from California"
- "What are our top-selling products?"
- "How much did we sell last month?"

### Basic SQL Structure
```sql
SELECT column_names     -- What to show
FROM table_name         -- Where to get it from
WHERE conditions        -- Filter criteria
ORDER BY column_name    -- How to sort
LIMIT number           -- How many results
```

## Examples: Basic SELECT Queries

Let's start with the simplest SQL query - selecting everything from a table:

In [ ]:
-- Example 1: See all customers
SELECT * FROM customers LIMIT 5;

In [ ]:
-- Example 2: See specific columns only
SELECT first_name, last_name, email FROM customers LIMIT 5;

In [ ]:
-- Example 3: Count total customers
SELECT COUNT(*) as total_customers FROM customers;

## Examples: Filtering with WHERE

The WHERE clause lets us filter data based on conditions:

In [ ]:
-- Example 4: Find customers from California
SELECT first_name, last_name, city, state 
FROM customers 
WHERE state = 'CA';

In [ ]:
-- Example 5: Find expensive products (over $50)
SELECT product_name, category, price 
FROM products 
WHERE price > 50 
ORDER BY price DESC;

In [ ]:
-- Example 6: Find active customers
SELECT first_name, last_name, customer_status 
FROM customers 
WHERE customer_status = 'active';

## Examples: Sorting with ORDER BY

ORDER BY lets us sort results alphabetically or numerically:

In [ ]:
-- Example 7: Sort products by price (lowest first)
SELECT product_name, price 
FROM products 
ORDER BY price ASC 
LIMIT 5;

In [ ]:
-- Example 8: Sort customers by registration date (newest first)
SELECT first_name, last_name, registration_date 
FROM customers 
ORDER BY registration_date DESC 
LIMIT 5;

## Examples: Combining Everything

Let's put it all together with more complex queries:

In [ ]:
-- Example 9: Electronics products under $100, sorted by price
SELECT product_name, category, price 
FROM products 
WHERE category = 'Electronics' AND price < 100 
ORDER BY price DESC;

In [ ]:
-- Example 10: Recent orders with customer details
SELECT o.order_id, c.first_name, c.last_name, o.order_date, o.total_amount 
FROM orders o 
JOIN customers c ON o.customer_id = c.customer_id 
ORDER BY o.order_date DESC 
LIMIT 10;

## Exercises

Now it's your turn! Complete these exercises using the patterns you learned:

### Exercise 1: Basic SELECT
Write a query to show all products (just the product names and prices)

In [ ]:
-- Your code here
SELECT product_name, price FROM products;

### Exercise 2: Simple Filtering
Find all customers from Texas (TX)

In [ ]:
-- Your code here
SELECT first_name, last_name, city, state 
FROM customers 
WHERE state = 'TX';

### Exercise 3: Price Filtering
Find all products that cost less than $50, sorted by price (lowest first)

In [ ]:
-- Your code here
SELECT product_name, price 
FROM products 
WHERE price < 50 
ORDER BY price ASC;

### Exercise 4: Sports Category
Show all sports products with their prices, sorted by price highest to lowest

In [ ]:
-- Your code here
SELECT product_name, category, price 
FROM products 
WHERE category = 'Sports' 
ORDER BY price DESC;

### Exercise 5: Customer Search
Find all customers whose first name starts with 'J' or 'M'

In [ ]:
-- Your code here
SELECT first_name, last_name 
FROM customers 
WHERE first_name LIKE 'J%' OR first_name LIKE 'M%';

### Exercise 6: Recent Registrations
Show the 3 most recently registered customers

In [ ]:
-- Your code here
SELECT first_name, last_name, registration_date 
FROM customers 
ORDER BY registration_date DESC 
LIMIT 3;

## Debug-Me Cell

Here's a query with an error. Can you fix it?

The goal: Show product names and prices for items over $100

In [ ]:
-- Debug this query - it's supposed to show expensive products
SELECT product_name, price 
FROM products 
WHERE price > 100  -- Hint: Check the column name
ORDER BY price DESC;

## Takeaways & Further Reading

### What You Learned Today:
✅ **SELECT** - Choose specific columns or all columns (*)  
✅ **FROM** - Specify which table to query  
✅ **WHERE** - Filter rows based on conditions  
✅ **ORDER BY** - Sort results (ASC/DESC)  
✅ **LIMIT** - Restrict number of results  

### Key SQL Concepts:
- **Tables** are like spreadsheets with rows and columns
- **Columns** contain specific types of data (text, numbers, dates)
- **Rows** represent individual records
- **Primary Keys** uniquely identify each row
- **Foreign Keys** link tables together

### SQL Best Practices:
- Use meaningful column names
- Be specific with your SELECT (avoid SELECT * in production)
- Use comments to explain complex queries
- Test your queries with LIMIT first

### Tomorrow Preview:
Day 2: **Data Types & Operators** - We'll learn about different data types (text, numbers, dates) and powerful filtering operators like BETWEEN, IN, and LIKE!

### Practice Resources:
- [SQLZoo](https://sqlzoo.net/) - Interactive SQL practice
- [SQLite Documentation](https://www.sqlite.org/docs.html)
- [W3Schools SQL](https://www.w3schools.com/sql/)

**Great work on Day 1! You're now speaking SQL! 🗣️**