# GRIT: SQL Basics - Day 1

**Learning Objectives**
- Understand what databases and SQL are
- Learn basic SELECT statements
- Use WHERE clauses for filtering data
- Sort results with ORDER BY
- Limit results with LIMIT

**Why this matters**  
SQL is the universal language for working with data. Whether you're analyzing sales, building dashboards, or managing customer data, SQL gives you the power to ask questions of your data and get answers.

Today we start with the fundamentals - reading data from databases. By the end of this notebook, you'll be able to query any table to find exactly the information you need!

## Setup: Connect to Our Database

First, let's load the SQL extension and connect to our sample e-commerce database:

In [14]:
# #install into the running kernel
# import sys
# !{sys.executable} -m pip install -U ipython-sql sqlalchemy sqlparse

#===================
import sys, pkgutil
print(sys.executable)
print(any(m.name=="sql" for m in pkgutil.iter_modules()))
!{sys.executable} -m pip show ipython-sql

c:\Users\RC\miniconda3\envs\ML_Python\python.exe
True
Name: ipython-sql
Version: 0.5.0
Summary: RDBMS access via IPython
Home-page: https://github.com/catherinedevlin/ipython-sql
Author: Catherine Devlin
Author-email: catherine.devlin@gmail.com
License: MIT
Location: c:\Users\RC\miniconda3\envs\ML_Python\Lib\site-packages
Requires: ipython, ipython-genutils, prettytable, six, sqlalchemy, sqlparse
Required-by:

## 1. First, install the required package (if not already installed)

In [6]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\rc\miniconda3\envs\ml_python\lib\site-packages (0.5.0)

[notice] A new release of pip is available: 25.0.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: prettytable in c:\users\rc\miniconda3\envs\ml_python\lib\site-packages (from ipython-sql) (3.16.0)
Requirement already satisfied: ipython in c:\users\rc\miniconda3\envs\ml_python\lib\site-packages (from ipython-sql) (8.20.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\rc\miniconda3\envs\ml_python\lib\site-packages (from ipython-sql) (2.0.43)
Requirement already satisfied: sqlparse in c:\users\rc\miniconda3\envs\ml_python\lib\site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in c:\users\rc\miniconda3\envs\ml_python\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\rc\miniconda3\envs\ml_python\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet>=1 in c:\users\rc\miniconda3\envs\ml_python\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\rc\miniconda3\envs\ml_python\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: decorator in c:\users\rc\miniconda3\envs\ml_python\lib\site-packages (from ipython->ipython-sql) (4.4.2)
Requirement already satisfied: jedi>=0.16 in c:\users\rc\miniconda3\envs\ml_python\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: matplotlib-inline in c:\users\rc\miniconda3\envs\ml_python\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\rc\miniconda3\envs\ml_python\lib\site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in c:\users\rc\miniconda3\envs\ml_python\lib\site-packages (from ipython->ipython-sql) (2.18.0)
Requirement already satisfied: stack-data in c:\users\rc\miniconda3\envs\ml_python\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5 in c:\users\rc\miniconda3\envs\ml_python\lib\site-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: colorama in c:\users\rc\miniconda3\envs\ml_python\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\rc\miniconda3\envs\ml_python\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\rc\miniconda3\envs\ml_python\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing in c:\users\rc\miniconda3\envs\ml_python\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\rc\miniconda3\envs\ml_python\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\rc\miniconda3\envs\ml_python\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

## 2. Load the SQL extension

In [8]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

## 3. Connect to your specific database

In [12]:
import os

# Check if the database file exists
db_path = r"E:\GRIT\02-SQL-Mastery\ecommerce.db"
print(f"Database exists: {os.path.exists(db_path)}")
print(f"Full path: {os.path.abspath(db_path)}")

# If it exists, connect using the verified path
if os.path.exists(db_path):
    %sql sqlite:///{db_path.replace('\\', '/')}

Database exists: False
Full path: E:\GRIT\02-SQL-Mastery\ecommerce.db

In [9]:

import sqlite3, pandas as pd
con = sqlite3.connect("ecommerce.db")
print(pd.read_sql("SELECT name FROM sqlite_master WHERE type='table' ORDER BY name;", con))

print("✅ Connected to database!")

          name
0    customers
1  order_items
2       orders
3     products
✅ Connected to database!

In [15]:
import os
import sqlite3

# Set your database path
db_path = r"E:\GRIT\02-SQL-Mastery\ecommerce.db"

# Check if file exists
if os.path.exists(db_path):
    print(f"✅ Database found at: {db_path}")
    print(f"File size: {os.path.getsize(db_path)} bytes")
else:
    print(f"❌ Database NOT found at: {db_path}")

❌ Database NOT found at: E:\GRIT\02-SQL-Mastery\ecommerce.db

## Theory: Understanding Databases & SQL

### What is a Database?
A database is like a digital filing cabinet that stores organized data. Our e-commerce database contains:
- **customers**: People who buy from our store
- **products**: Items we sell
- **orders**: Purchase transactions
- **order_items**: Individual items in each order

### What is SQL?
**SQL** = Structured Query Language  
It's the language we use to "talk" to databases and ask questions like:
- "Show me all customers from California"
- "What are our top-selling products?"
- "How much did we sell last month?"

### Basic SQL Structure
```sql
SELECT column_names     -- What to show
FROM table_name         -- Where to get it from
WHERE conditions        -- Filter criteria
ORDER BY column_name    -- How to sort
LIMIT number           -- How many results
```

## Examples: Basic SELECT Queries

Let's start with the simplest SQL query - selecting everything from a table:

In [18]:
# -- Example 1: See all customers
SELECT * FROM customers LIMIT 5;

SyntaxError: invalid syntax (3518464437.py, line 2)

In [ ]:
-- Example 2: See specific columns only
SELECT first_name, last_name, email FROM customers LIMIT 5;

In [ ]:
-- Example 3: Count total customers
SELECT COUNT(*) as total_customers FROM customers;

## Examples: Filtering with WHERE

The WHERE clause lets us filter data based on conditions:

In [ ]:
-- Example 4: Find customers from California
SELECT first_name, last_name, city, state 
FROM customers 
WHERE state = 'CA';

In [ ]:
-- Example 5: Find expensive products (over $50)
SELECT product_name, category, price 
FROM products 
WHERE price > 50 
ORDER BY price DESC;

In [ ]:
-- Example 6: Find active customers
SELECT first_name, last_name, customer_status 
FROM customers 
WHERE customer_status = 'active';

## Examples: Sorting with ORDER BY

ORDER BY lets us sort results alphabetically or numerically:

In [ ]:
-- Example 7: Sort products by price (lowest first)
SELECT product_name, price 
FROM products 
ORDER BY price ASC 
LIMIT 5;

In [ ]:
-- Example 8: Sort customers by registration date (newest first)
SELECT first_name, last_name, registration_date 
FROM customers 
ORDER BY registration_date DESC 
LIMIT 5;

## Examples: Combining Everything

Let's put it all together with more complex queries:

In [ ]:
-- Example 9: Electronics products under $100, sorted by price
SELECT product_name, category, price 
FROM products 
WHERE category = 'Electronics' AND price < 100 
ORDER BY price DESC;

In [ ]:
-- Example 10: Recent orders with customer details
SELECT o.order_id, c.first_name, c.last_name, o.order_date, o.total_amount 
FROM orders o 
JOIN customers c ON o.customer_id = c.customer_id 
ORDER BY o.order_date DESC 
LIMIT 10;

## Exercises

Now it's your turn! Complete these exercises using the patterns you learned:

### Exercise 1: Basic SELECT
Write a query to show all products (just the product names and prices)

In [ ]:
-- Your code here
SELECT product_name, price FROM products;

### Exercise 2: Simple Filtering
Find all customers from Texas (TX)

In [ ]:
-- Your code here
SELECT first_name, last_name, city, state 
FROM customers 
WHERE state = 'TX';

### Exercise 3: Price Filtering
Find all products that cost less than $50, sorted by price (lowest first)

In [ ]:
-- Your code here
SELECT product_name, price 
FROM products 
WHERE price < 50 
ORDER BY price ASC;

### Exercise 4: Sports Category
Show all sports products with their prices, sorted by price highest to lowest

In [ ]:
-- Your code here
SELECT product_name, category, price 
FROM products 
WHERE category = 'Sports' 
ORDER BY price DESC;

### Exercise 5: Customer Search
Find all customers whose first name starts with 'J' or 'M'

In [ ]:
-- Your code here
SELECT first_name, last_name 
FROM customers 
WHERE first_name LIKE 'J%' OR first_name LIKE 'M%';

### Exercise 6: Recent Registrations
Show the 3 most recently registered customers

In [ ]:
-- Your code here
SELECT first_name, last_name, registration_date 
FROM customers 
ORDER BY registration_date DESC 
LIMIT 3;

## Debug-Me Cell

Here's a query with an error. Can you fix it?

The goal: Show product names and prices for items over $100

In [ ]:
-- Debug this query - it's supposed to show expensive products
SELECT product_name, price 
FROM products 
WHERE price > 100  -- Hint: Check the column name
ORDER BY price DESC;

## Takeaways & Further Reading

### What You Learned Today:
✅ **SELECT** - Choose specific columns or all columns (*)  
✅ **FROM** - Specify which table to query  
✅ **WHERE** - Filter rows based on conditions  
✅ **ORDER BY** - Sort results (ASC/DESC)  
✅ **LIMIT** - Restrict number of results  

### Key SQL Concepts:
- **Tables** are like spreadsheets with rows and columns
- **Columns** contain specific types of data (text, numbers, dates)
- **Rows** represent individual records
- **Primary Keys** uniquely identify each row
- **Foreign Keys** link tables together

### SQL Best Practices:
- Use meaningful column names
- Be specific with your SELECT (avoid SELECT * in production)
- Use comments to explain complex queries
- Test your queries with LIMIT first

### Tomorrow Preview:
Day 2: **Data Types & Operators** - We'll learn about different data types (text, numbers, dates) and powerful filtering operators like BETWEEN, IN, and LIKE!

### Practice Resources:
- [SQLZoo](https://sqlzoo.net/) - Interactive SQL practice
- [SQLite Documentation](https://www.sqlite.org/docs.html)
- [W3Schools SQL](https://www.w3schools.com/sql/)

**Great work on Day 1! You're now speaking SQL! 🗣️**