# GRIT: Data Types & Operators - Day 2

**Learning Objectives**
- Understand different SQL data types (text, numbers, dates)
- Master comparison operators (=, â‰ , <, >)
- Use logical operators (AND, OR, NOT)
- Filter with patterns using LIKE
- Find ranges with BETWEEN
- Check multiple values with IN

**Why this matters**  
Data types are like containers that hold different kinds of information. Just like you wouldn't put soup in a cardboard box or books in a refrigerator, each type of data needs the right "container" in SQL. Operators are the tools that help you ask specific questions about your data.

Today you'll learn to be precise with your data filtering - finding exactly what you need from your database!

## Setup: Connect to Our Database

Let's connect to our e-commerce database again:

In [ ]:
# Load the SQL extension
%load_ext sql

# Connect to our sample database
%sql sqlite:///ecommerce.db

print("âœ… Connected to database!")

## Theory: Understanding Data Types

### Data Types Are Like Containers

Imagine you're packing for a trip:
- **TEXT**: Like a suitcase for clothes (words, names, descriptions)
- **INTEGER**: Like a wallet for money (whole numbers: 1, 2, 100)
- **REAL**: Like a piggy bank for coins (decimal numbers: 19.99, 3.14)
- **DATE**: Like a calendar (dates: 2023-12-25)
- **BOOLEAN**: Like a light switch (TRUE or FALSE)

### Why Data Types Matter
- **Storage**: Different types use different amounts of space
- **Operations**: You can do math on numbers but not on text
- **Filtering**: You filter dates differently than numbers

Let's see what data types our tables use:

In [ ]:
-- See the structure of our customers table
.schema customers

In [ ]:
-- See the structure of our products table
.schema products

## Examples: Working with Text (TEXT/VARCHAR)

Text data includes names, addresses, descriptions. Let's explore:

In [ ]:
-- Example 1: Basic text filtering
SELECT first_name, last_name, city
FROM customers
WHERE city = 'New York';

In [ ]:
-- Example 2: Text is case-sensitive
SELECT first_name, last_name, city
FROM customers
WHERE city = 'new york';  -- This won't find anything!

In [ ]:
-- Example 3: Find products with 'Smart' in the name
SELECT product_name, price
FROM products
WHERE product_name LIKE '%Smart%';

## Examples: Working with Numbers (INTEGER/REAL)

Numbers can be whole (INTEGER) or decimal (REAL). Let's explore:

In [ ]:
-- Example 4: Find products cheaper than $50
SELECT product_name, price
FROM products
WHERE price < 50
ORDER BY price DESC;

In [ ]:
-- Example 5: Find products in a price range
SELECT product_name, price
FROM products
WHERE price BETWEEN 50 AND 150
ORDER BY price;

In [ ]:
-- Example 6: Find products with low stock
SELECT product_name, stock_quantity
FROM products
WHERE stock_quantity <= 20
ORDER BY stock_quantity;

## Examples: Comparison Operators

Comparison operators help you compare values:

In [ ]:
-- Example 7: Equal (=) - exact match
SELECT product_name, category
FROM products
WHERE category = 'Electronics';

In [ ]:
-- Example 8: Not equal (!= or <>)
SELECT product_name, category
FROM products
WHERE category != 'Electronics';

In [ ]:
-- Example 9: Greater than (>) and less than or equal (<=)
SELECT product_name, price
FROM products
WHERE price > 100 AND price <= 200;

## Examples: Logical Operators (AND, OR, NOT)

Logical operators combine conditions:

In [ ]:
-- Example 10: AND - both conditions must be true
SELECT product_name, category, price
FROM products
WHERE category = 'Electronics' AND price < 100;

In [ ]:
-- Example 11: OR - either condition can be true
SELECT product_name, category, price
FROM products
WHERE category = 'Electronics' OR category = 'Sports';

In [ ]:
-- Example 12: NOT - reverse the condition
SELECT product_name, category
FROM products
WHERE NOT category = 'Electronics';

## Examples: Pattern Matching with LIKE

LIKE helps you find text patterns:

In [ ]:
-- Example 13: Names starting with 'J'
SELECT first_name, last_name
FROM customers
WHERE first_name LIKE 'J%';

In [ ]:
-- Example 14: Names ending with 'n'
SELECT first_name, last_name
FROM customers
WHERE last_name LIKE '%n';

In [ ]:
-- Example 15: Names containing 'ar'
SELECT first_name, last_name
FROM customers
WHERE first_name LIKE '%ar%';

In [ ]:
-- Example 16: Product names with exactly 5 characters followed by space
SELECT product_name
FROM products
WHERE product_name LIKE '_____ %';

## Examples: IN Operator for Multiple Values

IN checks if a value is in a list:

In [ ]:
-- Example 17: Find customers from specific states
SELECT first_name, last_name, state
FROM customers
WHERE state IN ('CA', 'TX', 'NY');

In [ ]:
-- Example 18: Find specific product categories
SELECT product_name, category, price
FROM products
WHERE category IN ('Electronics', 'Appliances')
ORDER BY category, price;

## Examples: NULL Values

NULL means "unknown" or "missing" data:

In [ ]:
-- Example 19: Find customers without phone numbers
SELECT first_name, last_name, phone
FROM customers
WHERE phone IS NULL;

In [ ]:
-- Example 20: Find customers with phone numbers
SELECT first_name, last_name, phone
FROM customers
WHERE phone IS NOT NULL
LIMIT 5;

## Examples: Complex Filtering

Let's combine multiple operators:

In [ ]:
-- Example 21: Complex filter - Electronics OR Sports, under $100, in stock
SELECT product_name, category, price, stock_quantity
FROM products
WHERE (category = 'Electronics' OR category = 'Sports')
  AND price < 100
  AND stock_quantity > 0
ORDER BY price DESC;

In [ ]:
-- Example 22: Customers from CA or NY with phone numbers
SELECT first_name, last_name, city, state, phone
FROM customers
WHERE state IN ('CA', 'NY')
  AND phone IS NOT NULL
ORDER BY state, last_name;

## Exercises

### Exercise 1: Text Filtering
Find all customers whose last name starts with 'M'

In [ ]:
-- Your code here
SELECT first_name, last_name
FROM customers
WHERE last_name LIKE 'M%';

### Exercise 2: Number Ranges
Find products that cost between $25 and $75

In [ ]:
-- Your code here
SELECT product_name, price
FROM products
WHERE price BETWEEN 25 AND 75
ORDER BY price;

### Exercise 3: Multiple Categories
Find all products in 'Books' or 'Sports' categories

In [ ]:
-- Your code here
SELECT product_name, category
FROM products
WHERE category IN ('Books', 'Sports');

### Exercise 4: Logical Operators
Find customers from California who have phone numbers

In [ ]:
-- Your code here
SELECT first_name, last_name, state, phone
FROM customers
WHERE state = 'CA' AND phone IS NOT NULL;

### Exercise 5: Pattern Matching
Find products whose names contain the word 'Wireless'

In [ ]:
-- Your code here
SELECT product_name, category
FROM products
WHERE product_name LIKE '%Wireless%';

### Exercise 6: Complex Filter
Find products that are:
- In Electronics category OR priced over $150
- Have more than 10 items in stock
- Sort by price highest to lowest

In [ ]:
-- Your code here
SELECT product_name, category, price, stock_quantity
FROM products
WHERE (category = 'Electronics' OR price > 150)
  AND stock_quantity > 10
ORDER BY price DESC;

## Debug-Me Cell

Find the error in this query and fix it. The goal is to find products under $50 in Electronics or Sports categories.

In [ ]:
-- Debug this query
SELECT product_name, category, price
FROM products
WHERE category = 'Electronics' OR category = 'Sports' AND price < 50
ORDER BY price;

-- Hint: Check the parentheses - AND has higher precedence than OR!

## Takeaways & Further Reading

### Data Types You Learned:
âœ… **TEXT**: For names, addresses, descriptions  
âœ… **INTEGER**: For whole numbers (ages, quantities)  
âœ… **REAL**: For decimal numbers (prices, measurements)  
âœ… **DATE**: For calendar dates and times  
âœ… **NULL**: Represents missing or unknown data  

### Operators You Mastered:
âœ… **Comparison**: =, !=, <, >, <=, >=  
âœ… **Logical**: AND, OR, NOT  
âœ… **Pattern**: LIKE with wildcards (%)  
âœ… **Range**: BETWEEN for number/date ranges  
âœ… **Sets**: IN for multiple value checks  
âœ… **NULL checks**: IS NULL, IS NOT NULL  

### Key Concepts:
- **Case sensitivity**: Text comparisons are case-sensitive
- **Operator precedence**: AND is evaluated before OR (use parentheses!)
- **Wildcards**: % matches any characters, _ matches single character
- **NULL behavior**: NULL comparisons need special operators

### SQL Best Practices:
- Use parentheses to make complex conditions clear
- Test queries with small datasets first
- Use meaningful aliases for complex expressions
- Comment complex WHERE clauses

### Tomorrow Preview:
Day 3: **Aggregation & Grouping** - Learn to summarize data with COUNT, SUM, AVG, and GROUP BY. We'll discover patterns in our sales data!

### Practice Resources:
- [SQL LIKE Patterns](https://www.w3schools.com/sql/sql_like.asp)
- [SQL Operators Reference](https://www.w3schools.com/sql/sql_operators.asp)
- [SQLite Data Types](https://www.sqlite.org/datatype3.html)

**Excellent work! You now speak fluent SQL filtering! ðŸŽ¯**